/* Jason Brillante "Damdoshi"
** EFRITS SAS 2022-2022
** Hanged Bunny Studio 2014-2021
** Pentacle Technologie 2008-2022
**
** DocBuilder CSS
*/

@page
{
    size:		21cm 29.7cm;
    margin:		0mm 0mm 0mm 0mm;
}

ul
{
    list-style-type:	none;
}
ul li
{
    text-indent:	-5px;
}
ul li:before
{
    content:		"- ";
    text-indent:	-5px;
}

.page
{
    size:		21cm 29.7cm;
    height:		29.7cm;
    width:		21cm;
    position:		relative;
    background-color:	white;
    page-break-after:	always;
    text-align:		justify;
    font-size:		0.4cm !important;
    line-height:	0.6cm !important;
}

.page_header
{
    position:		absolute;
    top:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-bottom:	0.5mm black solid;
}

.page_header td
{
    width:		calc(100% / 2);
    vertical-align:	bottom;
}

.page_header img
{
    z-index:		1;
    height:		1cm;
}

.page_content
{
    position:		absolute;
    left:		2cm;
    top:		3cm;
    width:		17cm;
    height:		25.7cm;
}

.page_shift
{
    left:		4cm !important;
    width:		15cm !important;
}

.page_sidemark
{
    position:		absolute;
    left:		1cm;
    top:		2cm;
    width:		3cm;
    z-index:		1;
    text-orientation:	mixed;
    writing-mode:	vertical-rl;
    transform:		rotate(180deg);
}

.page_footer
{
    position:		absolute;
    bottom:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-top:		0.5mm black solid;
    color:		gray;
    font-size:		0.2cm;
    text-align:		center;
    line-height:	0.25cm;
    padding-top:	0.2cm;
}

.letter_content
{
    position:		absolute;
    min-height:		50%;
    top:		25%;
    width:		100%;
}

.signature
{
    width:		100%;
}

.signature td
{
    width:		40%;
}
