/* Jason Brillante "Damdoshi"
** EFRITS SAS 2022-2022
** Hanged Bunny Studio 2014-2021
** Pentacle Technologie 2008-2022
**
** DocBuilder CSS
*/

@page
{
    size:		21cm 29.7cm;
    margin:		0mm 0mm 0mm 0mm;
}

.page
{
    size:		21cm 29.7cm;
    height:		29.7cm;
    width:		21cm;
    position:		relative;
    background-color:	white;
    page-break-after:	always;
    text-align:		justify;
    font-size:		0.4cm !important;
    line-height:	0.6cm !important;
}

.page_header
{
    position:		absolute;
    top:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-bottom:	0.5mm black solid;
}

.page_header td
{
    width:		calc(100% / 2);
    vertical-align:	bottom;
}

.page_header img
{
    z-index:		1;
    height:		1cm;
}

.page_content
{
    position:		absolute;
    left:		2cm;
    top:		3cm;
    width:		17cm;
    height:		25.7cm;
}

.page_shift
{
    left:		4cm !important;
    width:		15cm !important;
}

.page_sidemark
{
    position:		absolute;
    left:		1cm;
    top:		2cm;
    width:		3cm;
    z-index:		1;
    text-orientation:	mixed;
    writing-mode:	vertical-rl;
    transform:		rotate(180deg);
}

.page_footer
{
    position:		absolute;
    bottom:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-top:		0.5mm black solid;
    color:		gray;
    font-size:		xx-small;
    text-align:		center;
    line-height:	0.3cm;
    padding-top:	0.2cm;
}

.letter_content
{
    position:		absolute;
    min-height:		50%;
    top:		25%;
    width:		100%;
}

/*
.page_footer td
{
    width:		calc(100% / 3);
}

.page_footer img
{
    height:		1cm;
}

#banner
{
    position:		relative;
    width:		100%;
    height:		5cm;
    border-top:		1mm black solid;
    border-bottom:	1mm black solid;
}

#codename
{
    position: relative;
    top: -1cm;
    line-height: 1cm;
    font-size: 0.75cm;
}

#school_logo
{
    position:		absolute;
    left:		0px;
    top:		0.5cm;
    text-align:		left;
    width:		4cm;
}

#activity_logo
{
    position:		absolute;
    right:		0px;
    top:		0.5cm;
    text-align:		right;
    width:		calc(100% - 4cm);
}


#school_logo > img, #activity_logo > img
{
    height:		4cm;
}

#matter_logo
{
    position:		absolute;
    left:		0px;
    top:		7cm;
    width:		100%;
    height:		15cm;
    text-align:		center;
}

#matter_logo > img
{
    width:		15cm;
    height:		15cm;
}

#activity_info
{
    position:		absolute;
    left:		0px;
    top:		24cm;
    width:		100%;
    border-bottom:	1mm black solid;
}

*/
