/* Jason Brillante "Damdoshi"
** Hanged Bunny Studio 2014-2021
** Pentacle Technologie 2008-2022
** EFRITS SAS 2022-2022
**
** DocBuilder CSS
*/

@page
{
    size:		21cm 29.7cm;
    margin:		0mm 0mm 0mm 0mm;
}

.page
{
    size:		21cm 29.7cm;
    height:		29.7cm;
    width:		21cm;
    background-color:	white;
    page-break-after:	always;
    text-align:		justify;
    font-size:		0.4cm !important;
    line-height:	0.6cm !important;
}

.page_header
{
    position:		absolute;
    top:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-bottom:	0.5mm black solid;
}

.page_header td
{
    width:		calc(100% / 2);
}

.page_header img
{
    z-index:		1;
    height:		2cm;
    width:		4cm;
    object-fit:		contain;
    object-position:	bottom left;
}

.page_content
{
    position:		absolute;
    left:		2cm;
    top:		3.5cm;
    width:		17cm;
    height:		calc(29.7cm - 3.5cm - 3.5cm);
}

.page_shift
{
    left:		4cm !important;
    width:		15cm !important;
}

.page_sidemark
{
    position:		absolute;
    left:		1cm;
    top:		2cm;
    width:		3cm;
    z-index:		1;
    text-orientation:	mixed;
    writing-mode:	vertical-rl;
    transform:		rotate(180deg);
}

.page_footer
{
    position:		absolute;
    bottom:		1cm;
    left:		2cm;
    height:		2cm;
    width:		calc(100% - 4cm);
    border-top:		0.5mm black solid;
}

.page_footer td
{
    width:		calc(100% / 3);
}

.page_activity_logo img
{
    z-index:		1;
    height:		2cm;
    width:		100%;
    object-fit:		contain;
    object-position:	top left;
    padding-top:	0.1cm;
}


.page_school_logo img
{
    z-index:		1;
    height:		2cm;
    width:		100%;
    object-fit:		contain;
    object-position:	top right;
    padding-top:	0.1cm;
}

.code, .alert, .hint, .shell, .warning
{
    width:		calc(80%);
    margin-top:		0.5cm;
    margin-bottom:	0.5cm;
    margin-left:	calc(10% - 0.5cm);
    padding:		0.5cm 0.5cm 0.5cm 0.5cm;
}

.alert, .hint, .warning
{
    text-align:		center;
}

.code
{
    background-color:	black;
    color:		white;
    font-family:	ShellFont !important;
}

.alert
{
    background-color:	red;
    color:		white;
    font-weight:	bolder;
}

.hint
{
    background-color:	blue;
    color:		white;
    font-weight:	bold;
}

.shell
{
    background-color:	black;
    color:		gray;
    font-family:	ShellFont !important;
    font-weight:	bolder;
}

.warning
{
    background-color:	yellow;
    color:		black;
    font-weight:	bold;
}
