/* Jason Brillante "Damdoshi"
** Hanged Bunny Studio 2014-2021
** Pentacle Technologie 2008-2021
**
** DocBuilder CSS
*/

*
{
    margin:		0px 0px 0px 0px;
    padding:		0px 0px 0px 0px;
    border-collapse:	collapse;
    border:		0px;
    clear:		0px;
    line-height:	0.5cm;
    font-size:		0.3cm;
    font-family:	Font;
}

body
{
    margin-left:	calc((100% - 21cm) / 2);
    background-color:	darkgrey;
}

h1
{
    font-size:		1.1cm;
    line-height:	1.2cm;
}

h2
{
    font-size:		1.0cm;
    line-height:	1.2cm;
}

h3
{
    font-size:		0.9cm;
    line-height:	1.2cm;
}

h4
{
    font-size:		0.8cm;
    line-height:	1.2cm;
}

h5
{
    font-size:		0.7cm;
    line-height:	1.2cm;
}

h1, h2, h3, h4, h5
{
    display:		inline-block;
    font-weight:	normal;
    text-align:		right;
    width:		100%;
    margin-block-start:	0px;
    margin-block-end:	0px;
}

.chapter_title
{
    margin-bottom:	1.5cm;
}

li
{
    margin-left:	1.5cm;
}

.page
{
    position:		relative;
}

.left_align
{
    text-align:		left;
}

.right_align
{
    text-align:		right;
}

.middle_align, .center_align
{
    text-align:		center;
}
